.overall-page{
    margin-left:10% ;
    border: dotted 5px plum;
    height:750px;
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:50% 50%;
    grid-template-areas: 
    "left image"
    "left comment-section";
}

.left{
    border: dashed 5px orange;
    height:750px;
}
.image{
    border: solid 5px green
}
.scroll{
    width: 500px; 
    height: 80%; 
    overflow-x: hidden; 
    overflow-x: auto; 
}
#comment-section{
 border: solid palegreen 5px;
 grid-column: 2 / 2;
  grid-row: 2 /2;
}