.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background:whitesmoke;
  }
  
  .modal-main {
    position:fixed;
    background: whitesmoke;
    width: 60%;
    height: 100%;
    top:0;
    left:0;
    /* transform: translate(-50%,-50%); */
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  #hambtn{

    position: fixed;
    margin:0;
    left:5px;
    width: 100px;
    height:100px;
    
  }

  #close{
      font-size: xx-large;
      position: absolute;
    top:330px;
    right:80px;
    
  }

  .links{

    display:Grid;
    grid-template-columns: auto auto;
    /* font-size: xx-large;
    font-weight: 900; */
    
    
  }

  .links > .link{
    font-size: xxx-large;
    font-weight: 600;
    box-shadow: none;
    text-decoration: none;
    color:black;
    margin:50px;
  
        
}

.wrapper{
width:100%;
height:100%;
    position:absolute;
    display:flex;
 flex-direction: row;
    
}

.video{
    position: absolute;
 top:20px;
    right:20px;
    width:60%;
    height:60%; 

}
.hr{

    width:25%;
    margin: 10em 3em;
}
.hr hr {
    display: block;
    height: 1px;
    border-top: 1px solid green ;
  
    padding: 0;
    width:70%;

}
.hr p{

    color:green;
    text-align: justify ;
}
  
 
  